






<div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="clickable-card  surface-card shadow-3 p-3 border-round" (click)="navigateToInterviews()">

            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"></span>
                    <div class="text-900 font-medium text-xl">Interviews</div>
                </div>
            </div>

            <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">this quarter</span>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <div class="clickable-card surface-card shadow-3 p-3 border-round" (click)="navigateToTodos()">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"></span>
                    <div class="text-900 font-medium text-xl">Todos</div>
                </div>
            </div>
            <span class="text-green-500 font-medium">12/56</span>
            <span class="text-500"> completed</span>
        </div>
    </div>
</div>


<!--<br><br><br>-->




<!--<div class="grid grid-nogutter surface-section text-800">-->

<!--    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">-->
<!--        <section>-->
<!--            <span class="block text-6xl font-bold mb-1">Manage your Interviews</span>-->
<!--            <div class="text-6xl text-primary font-bold mb-3">you deserve to track history</div>-->
<!--            <p class="mt-0 mb-4 text-700 line-height-3">-->
<!--                This application will help you to track and manage your interviews. <br> Being a interviewer this portal will be a one stop for all your candidate status and feedback presented.-->
<!--            </p>-->

<!--            <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised"></button>-->
<!--            <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button>-->
<!--        </section>-->
<!--    </div>-->

<!--    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">-->
<!--    -->
<!--    </div>-->
<!--</div>-->

<!--<br>-->

<!--<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">-->
<!--    <div class="mb-3 font-bold text-3xl">-->
<!--        <span class="text-900">One Product, </span>-->
<!--        <span class="text-blue-600">Many Solutions</span>-->
<!--    </div>-->
<!--    <div class="text-700 mb-6">You will fly in the sky with all the functionalities available here.</div>-->
<!--    <div class="grid">-->
<!--        <div class="col-12 md:col-4 mb-4 px-5">-->
<!--            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">-->
<!--                <i class="pi pi-desktop text-4xl text-blue-500"></i>-->
<!--            </span>-->
<!--            <div class="text-900 text-xl mb-3 font-medium">Compatable with all browsers</div>-->
<!--            <span class="text-700 line-height-3">You should be able to access the application for any web broswer available from any computer.</span>-->
<!--        </div>-->
<!--        <div class="col-12 md:col-4 mb-4 px-5">-->
<!--            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">-->
<!--                <i class="pi pi-lock text-4xl text-blue-500"></i>-->
<!--            </span>-->
<!--            <div class="text-900 text-xl mb-3 font-medium">End-to-End Encryption</div>-->
<!--            <span class="text-700 line-height-3">You data is highly secure and protected.</span>-->
<!--        </div>-->
<!--        <div class="col-12 md:col-4 mb-4 px-5">-->
<!--            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">-->
<!--                <i class="pi pi-check-circle text-4xl text-blue-500"></i>-->
<!--            </span>-->
<!--            <div class="text-900 text-xl mb-3 font-medium">Easy to Use</div>-->
<!--            <span class="text-700 line-height-3">User experience is the top most thing we have taken care of, anyone with limited english skills are able to use it.</span>-->
<!--        </div>-->
<!--        <div class="col-12 md:col-4 mb-4 px-5">-->
<!--            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">-->
<!--                <i class="pi pi-globe text-4xl text-blue-500"></i>-->
<!--            </span>-->
<!--            <div class="text-900 text-xl mb-3 font-medium">Fast & Global Support</div>-->
<!--            <span class="text-700 line-height-3">Customer Sales Support and Technical Support is available anytime.</span>-->
<!--        </div>-->
<!--        <div class="col-12 md:col-4 mb-4 px-5">-->
<!--            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">-->
<!--                <i class="pi pi-github text-4xl text-blue-500"></i>-->
<!--            </span>-->
<!--            <div class="text-900 text-xl mb-3 font-medium">Open Source</div>-->
<!--            <span class="text-700 line-height-3"> Source code is available to all the Miracle employees from MARS portal.</span>-->
<!--        </div>-->
<!--        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">-->
<!--            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">-->
<!--                <i class="pi pi-shield text-4xl text-blue-500"></i>-->
<!--            </span>-->
<!--            <div class="text-900 text-xl mb-3 font-medium">Trusted Securitty</div>-->
<!--            <span class="text-700 line-height-3">Application has tested with Burp Suite professional edition and taken care of all security vulnerabilities.</span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<br>-->

<!--<div class="surface-section px-4 py-8 md:px-6 lg:px-8">-->
<!--    <div class="text-700 text-center">-->
<!--        <div class="text-blue-600 font-bold mb-3"><i class="pi pi-slack"></i>&nbsp;Powered by Slack</div>-->
<!--        <div class="text-900 font-bold text-5xl mb-3">Join Our Dev Community</div>-->
<!--        <div class="text-700 text-2xl mb-5">Feel free to colloborate with the community, lots of friends and beers are waiting for you</div>-->
<!--        <button pButton pRipple label="Join Now" icon="pi pi-slack" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>-->
<!--    </div>-->
<!--</div>-->




