
<div class="full-screen-card">

        <div class="grid grid-no gutter surface-section text-800">

            <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
                <section>
                    <span class="text-6xl text-primary font-bold mb-3">Miracle Interview Management Portal</span>
                    <div class="block text-6xl font-bold mb-1">https://mim.miraclesoft.com</div>
                    <p class="mt-0 mb-4 text-700 line-height-3">
                        This application will help you to track and manage your interviews. <br> Being a interviewer this portal will be a one stop for all your candidate status and feedback presented.
                    </p>
                </section>
            </div>

            <div class="col-12 md:col-6 p-4 text-center md:text-left flex align-items-center">

                <div class="container" *ngIf="!isSignInFormVisible">
                    <div class="surface-card p-3 shadow-2 border-round w-full lg:w-28rem">

                        <div class="text-center mb-5">
                            <div class="text-900 text-3xl font-medium mb-3">Welcome back</div>
                            <span class="text-600 font-medium line-height-3">Don't have an account? </span>
                            <a (click)="showSignupForm()" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Signup here!</a>
                        </div>

                        <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
                            <div>
                                <div class="formgrid grid">
                                    <div class="field col">
                                        <label for="signin_email">Email ID</label>
                                        <input
                                            id="signin_email"
                                            type="email"
                                            #emailInput="ngModel"
                                            class="text-base
                                            text-color
                                            surface-overlay
                                            p-2 border-1
                                            border-solid
                                            surface-border
                                            border-round
                                            appearance-none
                                            outline-none
                                            focus:border-primary
                                            w-full"
                                            pInputText
                                            required
                                            ngModel
                                            name="signin_email"
                                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                                        >

                                        <!-- Validation message for email format -->
                                        <div *ngIf="emailInput.invalid && emailInput.errors?.email">
                                            <small>Email must be a valid email address.</small>
                                        </div>

                                        <!-- Validation message for required -->
                                        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                                            <small *ngIf="emailInput.errors?.required">Email is required.</small>
                                            <small *ngIf="emailInput.errors?.pattern">Please enter a valid email address.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="formgrid grid">

                                    <div class="field col">
                                        <label for="signin_password">Password</label>
                                        <input
                                            id="signin_password"
                                            type="password"
                                            #passwordInput="ngModel"
                                            class="text-base
                                            text-color
                                            surface-overlay
                                            p-2 border-1
                                            border-solid
                                            surface-border
                                            border-round
                                            appearance-none
                                            outline-none
                                            focus:border-primary
                                            w-full"
                                            pInputText
                                            required
                                            ngModel
                                            name="signin_password"
                                        >
                                        <!-- Validation message for required -->
                                        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                                            <small *ngIf="passwordInput.errors?.required">Password is required.</small>
                                        </div>
                                    </div>
                                </div>


                                <div class="flex align-items-center justify-content-between mb-6">
                                    <div class="flex align-items-center">
                                        <p-checkbox id="remember" [binary]="true" styleClass="mr-2"></p-checkbox>
                                        <label for="remember" class="text-900">Remember me</label>
                                    </div>
                                </div>


                                <button
                                    type="submit"
                                    pButton
                                    pRipple
                                    label="Login"
                                    icon="pi pi-user"
                                    class="w-full"
                                    [disabled]="loginForm.invalid"
                                >
                                </button>
                            </div>
                        </form>


                        <!--                        <form (submit)="onLogin(loginForm)" #loginForm="ngForm">-->

<!--                            <div>-->
<!--                                <div class="formgrid grid">-->
<!--                                    <div class="field col">-->
<!--                                        <label for="signin_email">Email ID</label>-->
<!--                                        <input-->
<!--                                            id="signin_email"-->
<!--                                            type="text"-->
<!--                                            #emailInput="ngModel"-->
<!--                                            class="text-base-->
<!--                                            text-color-->
<!--                                            surface-overlay-->
<!--                                            p-2 border-1-->
<!--                                            border-solid-->
<!--                                            surface-border-->
<!--                                            border-round-->
<!--                                            appearance-none-->
<!--                                            outline-none-->
<!--                                            focus:border-primary-->
<!--                                            w-full"-->
<!--                                            pInputText-->
<!--                                            required-->
<!--                                            ngModel-->
<!--                                        >-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="formgrid grid">-->
<!--                                    <div class="field col">-->
<!--                                        <label for="signin_password">Password</label>-->
<!--                                        <input-->
<!--                                            id="signin_password"-->
<!--                                            type="password"-->
<!--                                            #passwordInput="ngModel"-->
<!--                                            class="text-base-->
<!--                                            text-color-->
<!--                                            surface-overlay-->
<!--                                            p-2 border-1-->
<!--                                            border-solid-->
<!--                                            surface-border-->
<!--                                            border-round-->
<!--                                            appearance-none-->
<!--                                            outline-none-->
<!--                                            focus:border-primary-->
<!--                                            w-full"-->
<!--                                            pInputText-->
<!--                                            required-->
<!--                                            ngModel-->
<!--                                        >-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="flex align-items-center justify-content-between mb-6">-->
<!--                                    <div class="flex align-items-center">-->
<!--                                        <p-checkbox id="remember" [binary]="true" styleClass="mr-2"></p-checkbox>-->
<!--                                        <label for="remember" class="text-900">Remember me</label>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a> &ndash;&gt;-->
<!--                                </div>-->

<!--                                <button-->
<!--                                    type="submit"-->
<!--                                    pButton-->
<!--                                    pRipple-->
<!--                                    label="Login"-->
<!--                                    icon="pi pi-user"-->
<!--                                    class="w-full">-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </form>-->
                    </div>
                </div>

                <div class="container" *ngIf="isSignUpFormVisible">
                    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-28rem">

                        <div class="text-center mb-5">
                            <div class="text-900 text-3xl font-medium mb-3">Welcome</div>
                            <span class="text-600 font-medium line-height-3">You already have an account?</span>
                            <a (click)="showSignInForm()" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Login here!</a>
                        </div>

                        <!--                Signup Form-->
                        <form (submit)="onSignup(signupForm)"  #signupForm="ngForm">
                            <div>
                                <div class="formgrid grid">
                                    <div class="field col">
                                        <label for="firstname">Firstname</label>
                                        <input
                                            id="firstname"
                                            name="firstname"
                                            type="text"
                                            #firstnameInput="ngModel"
                                            class="text-base
                                text-color
                                surface-overlay
                                p-2 border-1
                                border-solid
                                surface-border
                                border-round
                                appearance-none
                                outline-none
                                focus:border-primary
                                w-full"
                                            required
                                            ngModel
                                            pInputText
                                        >
                                    </div>

                                    <div class="field col">
                                        <label for="lastname">Lastname</label>
                                        <input
                                            id="lastname"
                                            name="lastname"
                                            type="text"
                                            #lastnameInput="ngModel"
                                            class="text-base
                                text-color
                                surface-overlay
                                p-2 border-1
                                border-solid
                                surface-border
                                border-round
                                appearance-none
                                outline-none
                                focus:border-primary
                                w-full"
                                            required
                                            pInputText
                                            ngModel
                                        >
                                    </div>
                                </div>

                                <div class="formgrid grid">
                                    <div class="field col">
                                        <label for="signup_email">Email ID</label>
                                        <input
                                            id="signup_email"
                                            name="signup_email"
                                            type="text"
                                            #emailInput="ngModel"
                                            class="text-base
                                text-color
                                surface-overlay
                                p-2 border-1
                                border-solid
                                surface-border
                                border-round
                                appearance-none
                                outline-none
                                focus:border-primary
                                w-full"
                                            required
                                            pInputText
                                            ngModel
                                        >
                                    </div>

                                    <div class="field col">
                                        <label for="mobile">Mobile</label>
                                        <input
                                            id="mobile"
                                            name="mobile"
                                            type="text"
                                            #mobileInput="ngModel"
                                            class="text-base
                                text-color
                                surface-overlay
                                p-2 border-1
                                border-solid
                                surface-border
                                border-round
                                appearance-none
                                outline-none
                                focus:border-primary
                                w-full"
                                            required
                                            pInputText
                                            ngModel
                                        >
                                    </div>
                                </div>

                                <div class="formgrid grid">
                                    <div class="field col">
                                        <label for="signup_password">Password</label>

                                        <input
                                            id="signup_password"
                                            name="signup_password"
                                            type="password"
                                            #passwordInput="ngModel"
                                            class="text-base
                                text-color
                                surface-overlay
                                p-2 border-1
                                border-solid
                                surface-border
                                border-round
                                appearance-none
                                outline-none
                                focus:border-primary
                                w-full"
                                            required
                                            pInputText
                                            ngModel
                                        >
                                    </div>

                                    <div class="field col">
                                        <label for="confirm_password">Confirm Password</label>
                                        <input
                                            id="confirm_password"
                                            name="confirm_password"
                                            type="password"
                                            #confirmpasswordInput="ngModel"
                                            class="text-base
                                text-color
                                surface-overlay
                                p-2 border-1
                                border-solid
                                surface-border
                                border-round
                                appearance-none
                                outline-none
                                focus:border-primary
                                w-full"
                                            required
                                            pInputText
                                            ngModel
                                        >
                                    </div>
                                </div>
                                <button
                                    type="submit"
                                    pButton
                                    pRipple
                                    label="Sign Up"
                                    icon="pi pi-user"
                                    class="w-full">
                                </button>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="container">
                    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-28rem" *ngIf="isRegistrationSuccessful">

                        <div class="text-center mb-5">
                            <span class="text-600 font-medium line-height-3">Your registration was successful, please</span>
                            <a href="/" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">login here!</a>
                        </div>

                    </div>
                </div>


            </div>
        </div>
</div>


<p-toast></p-toast>





