<br>
<div class=" header surface-card p-4 shadow-2 border-round">
    <div *ngIf="currentInterview">
        <div class="surface-section">

            <div class="grid">
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Candidate Details</span>
                                <div class="text-900 font-medium text-xl">{{currentInterview.candidateFirstName + " " + currentInterview.candidateLastName}}</div>
                                <div class="text-500 font-medium text-xl">{{currentInterview.candidateVisaStatus}}</div>
                            </div>
                            <!--                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">-->
                            <!--                  <i class="pi pi-user-edit text-blue-500 text-xl"></i>-->
                            <!--                </div>-->
                        </div>
                        <span class="text-green-500 font-medium">Open to relocate</span>
                        <span class="text-500"> for client position</span>
                    </div>
                </div>

<!--                <div class="col-12 md:col-6 lg:col-3">-->
<!--                    <div class="surface-card shadow-2 p-3 border-round">-->
<!--                        <div class="flex justify-content-between mb-3">-->
<!--                            <div>-->
<!--                                <span class="block text-500 font-medium mb-3">Candidate Skill Ratings</span>-->
<!--                                <div class="text-400 font-small text-xl">Tech<p-rating [(ngModel)]="technicalSkillsRatingValue" [cancel]="false" [stars]="5" ></p-rating></div>-->
<!--                                <div class="text-400 font-small text-xl">Attitude<p-rating [(ngModel)]="behavioralSkillsRatingValue" [cancel]="false" [stars]="5" ></p-rating></div>-->
<!--                                &lt;!&ndash;                  <div class="text-400 font-small text-xl">Frontend: <p-rating [(ngModel)]="frontendSkillsRatingValue" [cancel]="false" [stars]="10" ></p-rating></div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                  <div class="text-400 font-small text-xl">Backend: <p-rating [(ngModel)]="backendSkillsRatingValue" [cancel]="false" [stars]="10" ></p-rating> </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                  <div class="text-400 font-small text-xl">Cloud: <p-rating [(ngModel)]="cloudSkillsRatingValue" [cancel]="false" [stars]="10" ></p-rating> </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                  <div class="text-400 font-small text-xl">DevOps: <p-rating [(ngModel)]="DevopsSkillsRatingValue" [cancel]="false" [stars]="10" ></p-rating></div>&ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash;                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">&ndash;&gt;-->
<!--                            &lt;!&ndash;                  <i class="pi pi-user-edit text-blue-500 text-xl"></i>&ndash;&gt;-->
<!--                            &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <span class="text-red-500 font-medium">Pending ratings</span>-->
<!--                        <span class="text-500"> from interview feedback</span>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="col-12 md:col-6 lg:col-3">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Recruiter Details</span>
                                <div class="text-900 font-medium text-xl">{{currentInterview.recruiterName}}</div>
                                <div class="text-500 font-medium text-xl">{{currentInterview.recruiterEmail}}</div>
                            </div>
                            <!--                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">-->
                            <!--                  <i class="pi pi-user-edit text-blue-500 text-xl"></i>-->
                            <!--                </div>-->
                        </div>
                        <span class="text-green-500 font-medium">placed 60 candidates</span>
                        <span class="text-500"> in 2023</span>
                    </div>
                </div>

                <div class="col-12 md:col-6 lg:col-3">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Interview Status</span>
                                <div class="text-900 font-medium text-xl">Status: {{currentInterview.interviewStatus}}</div>
                                <div class="text-500 font-medium text-xl">Date & Time: {{currentInterview.dateOfInterview}} || {{currentInterview.timeOfInterview}}</div>
                            </div>
                            <!--                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">-->
                            <!--                  <i class="pi pi-user-edit text-blue-500 text-xl"></i>-->
                            <!--                </div>-->
                        </div>
                        <span class="text-green-500 font-medium">On Time</span>
                        <span class="text-500"> for the interview</span>
                    </div>
                </div>
            </div>
            <br><br><br>

            <div class="font-medium text-3xl text-900 mb-3">Interview analysis</div>
            <div class="text-500 mb-5">Detailed technical evaluation of the candidate</div>

            <ul class="list-none p-0 m-0">

                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">Date & Time</div>
                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{currentInterview.dateOfInterview}} || {{currentInterview.timeOfInterview}}</div>
                    <!--            <div class="w-6 md:w-2 flex justify-content-end">-->
                    <!--              <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>-->
                    <!--            </div>-->
                </li>

                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">Frontend Skills</div>
                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{currentInterview.candidateFrontendSkills}}</div>
                    <!--            <div class="w-6 md:w-2 flex justify-content-end">-->
                    <!--              <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>-->
                    <!--            </div>-->
                </li>

                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">Backend Skills</div>
                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{currentInterview.candidateBackendSkills}}</div>
                    <!--            <div class="w-6 md:w-2 flex justify-content-end">-->
                    <!--              <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>-->
                    <!--            </div>-->
                </li>

                <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">Cloud Skills</div>
                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">{{currentInterview.candidateCloudSkills}}</div>
                    <!--            <div class="w-6 md:w-2 flex justify-content-end">-->
                    <!--              <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>-->
                    <!--            </div>-->
                </li>

                <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">Linux & DevOps Skills</div>
                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">{{currentInterview.candidateLinuxDevOpsSkills}}</div>
                    <!--            <div class="w-6 md:w-2 flex justify-content-end">-->
                    <!--              <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>-->
                    <!--            </div>-->
                </li>

                <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">Communication & Behavior</div>
                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">{{currentInterview.candidateLinuxDevOpsSkills}}</div>
                    <!--            <div class="w-6 md:w-2 flex justify-content-end">-->
                    <!--              <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>-->
                    <!--            </div>-->
                </li>

                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">Top Skillsets</div>
                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                        <p-chip *ngFor="let skill of currentInterview.candidateTopThreeSkills" class="mr-2">{{skill}}</p-chip>
                    </div>
                    <!--            <div class="w-6 md:w-2 flex justify-content-end">-->
                    <!--              <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"></button>-->
                    <!--            </div>-->
                </li>
            </ul>

            <br>
            <div class="field col-12 md:col-12">

                <button
                    pButton
                    pRipple
                    type="button"
                    label="Cancel"
                    (click)="onClickCancel()"
                    class="p-button-raised p-button-danger mr-2 mb-2"
                ></button>

                <button
                    pButton
                    pRipple
                    type="submit"
                    label="Edit"
                    (click)="onClickEdit()"
                    class="p-button-raised mr-2 mb-2"
                ></button>

            </div>


        </div>
    </div>
</div>
<br>


<p-dialog
    header="Update interview details"
    [style]="{ 'width': '50%' }" #content
    [(visible)]="display" [modal]="true">
    <br>
        <form [formGroup]="editForm" (ngSubmit)="onClickSaveInEdit()">
            <div class="card">
                <h4>Candidate Details</h4>
                <br>
                <div class="p-fluid p-form grid  col-12">
                    <div class="field md:col-6">
                        <label for="c_firstname">Firstname</label>
                        <input
                            pInputText
                            id="c_firstname"
                            type="text"
                            formControlName="c_firstname"
                        />
                    </div>

                    <div class="field md:col-6">
                        <label for="c_lastname">Lastname</label>
                        <input
                            pInputText
                            id="c_lastname"
                            type="text"
                            formControlName="c_lastname"
                        />
                    </div>

                    <div class="field col-6">
                        <label for="c_email">Email</label>
                        <input
                            pInputTextarea
                            id="c_email"
                            type="text"
                            formControlName="c_email"
                        />
                    </div>

                    <div class="field col-6">
                        <label for="c_visa">Visa Status</label>
                        <input
                            pInputTextarea
                            id="c_visa"
                            type="text"
                            formControlName="c_visa"
                        />
                    </div>

                    <div class="field col-6">
                        <label for="c_certifications">Certifications and Achievements</label>
                        <input
                            pInputTextarea
                            id="c_certifications"
                            type="text"
                            formControlName="c_certifications"
                        />
                    </div>

                </div>
            </div>
            <div class="card">
                <h4>Interview Details</h4>
                <br>

                <div class="p-fluid p-form grid col-12">

                    <div class="field md:col-6">
                        <label for="r_name">Recruiter name</label>
                        <input
                            pInputText
                            id="r_name"
                            type="text"
                            formControlName="r_name"
                        />
                    </div>

                    <div class="field md:col-6">
                        <label for="r_email">Recruiter Email</label>
                        <input
                            pInputText
                            id="r_email"
                            type="text"
                            formControlName="r_email"
                        />
                    </div>

                    <div class="field col-6">
                        <label for="ir_name">Interviewer name</label>
                        <input
                            pInputTextarea
                            id="ir_name"
                            type="text"
                            formControlName="ir_name"
                        />
                    </div>

                    <div class="field col-6">
                        <label for="i_position">Interview Position</label>
                        <input
                            pInputTextarea
                            id="i_position"
                            type="text"
                            formControlName="i_position"
                        />
                    </div>

                    <div class="field col-6">
                        <label for="i_doi">Date of Interview</label>
                        <p-calendar
                            [showIcon]="true"
                            id="i_doi"
                            inputId="icon"
                            formControlName="i_doi"
                        >
                        </p-calendar>
                    </div>

                    <div class="field col-6">
                        <label for="i_toi">Time of Interview</label>
                        <input
                            pInputTextarea
                            id="i_toi"
                            type="time"
                            formControlName="i_toi"
                        />
                    </div>

                </div>
            </div>
            <div class="card">
                <h4>Technical Feedback</h4>
                <br>

                <div class="p-fluid p-form grid col-12">

                    <div class="field md:col-6">
                        <label>Frontend skills</label>
                        <textarea
                            id="i_frontend_skills"
                            rows="5"
                            cols="30"
                            pInputTextarea
                            placeholder="Your Message"
                            formControlName="i_frontend_skills"
                        ></textarea>

                        <!--                    [autoResize]="true"-->
                        <!--                    <br>-->

                        <!--                    <textarea-->
                        <!--                        appScrollResizable-->
                        <!--                        [resizable]="resizable"-->
                        <!--                        rows="5"-->
                        <!--                        cols="30"-->
                        <!--                        placeholder="Your Message"-->
                        <!--                    ></textarea>-->

                    </div>

                    <div class="field md:col-6">
                        <label for="i_backend_skills">Backend skills</label>
                        <textarea
                            rows="5"
                            id="i_backend_skills"
                            cols="30"
                            placeholder="Your Message"
                            pInputTextarea
                            formControlName="i_backend_skills"
                        ></textarea>
                    </div>

                    <div class="field col-6">
                        <label for="i_cloud_skills">Cloud skills</label>
                        <textarea
                            rows="5"
                            id="i_cloud_skills"
                            cols="30"
                            placeholder="Your Message"
                            pInputTextarea
                            formControlName="i_cloud_skills"
                        ></textarea>
                    </div>

                    <div class="field col-6">
                        <label for="i_linux_devops_skills">Linux & DevOps skills</label>
                        <textarea
                            rows="5"
                            id="i_linux_devops_skills"
                            cols="30"
                            placeholder="Your Message"
                            pInputTextarea
                            formControlName="i_linux_devops_skills"
                        ></textarea>
                    </div>


                    <div class="field col-6">
                        <label for="i_overall_feedback">Overall Technical feedback</label>
                        <textarea
                            rows="5"
                            id="i_overall_feedback"
                            cols="30"
                            placeholder="Your Message"
                            pInputTextarea
                            formControlName="i_overall_feedback"
                        ></textarea>
                    </div>

                    <div class="field col-6">
                        <label for="i_candidate_behavior_skills">Candidate Behaviour</label>
                        <textarea
                            rows="5"
                            id="i_candidate_behavior_skills"
                            cols="30"
                            placeholder="Your Message"
                            pInputTextarea
                            formControlName="i_candidate_behavior_skills"
                        ></textarea>
                    </div>


                </div>
            </div>
            <div class="card">
                <h4>Overall Technical Ratings</h4>
                <br>

                <div class="p-fluid p-form grid col-12">

                    <div class="field md:col-6">
                        <label for="i_frontend_skills_rating">Frontend skills</label>
                        <p-rating
                            id="i_frontend_skills_rating"
                            formControlName="i_frontend_skills_rating"
                        ></p-rating>
                    </div>

                    <div class="field md:col-6">
                        <label for="i_backend_skills_rating">Backend skills</label>
                        <p-rating
                            id="i_backend_skills_rating"
                            formControlName="i_backend_skills_rating"
                        ></p-rating>
                    </div>

                    <div class="field col-6">
                        <label for="i_cloud_skills_rating">Cloud skills</label>
                        <p-rating
                            id="i_cloud_skills_rating"
                            formControlName="i_cloud_skills_rating"
                        ></p-rating>
                    </div>

                    <div class="field col-6">
                        <label for="i_candidate_business_knowledge_rating">Business Knowledge skills</label>
                        <p-rating
                            id="i_candidate_business_knowledge_rating"
                            formControlName="i_candidate_business_knowledge_rating"
                        ></p-rating>
                    </div>

                    <div class="field col-6">
                        <label for="i_linux_devops_skills_rating">Linux & DevOps skills</label>
                        <p-rating
                            id="i_linux_devops_skills_rating"
                            formControlName="i_linux_devops_skills_rating"
                        ></p-rating>
                    </div>

<!--                    i_candidate_business_knowledge_rating-->

                </div>
            </div>
            <div class="card">
                <h4>Interview Outcomes</h4>
                <br>
                <div class="p-fluid p-form grid col-12">

                    <div class="field md:col-6">
                        <label for="i_top_three_skills">Candidate top three skills </label>
                        <p-chips
                            id="i_top_three_skills"
                            [placeholder]=" 'You can enter multiple values here, each followed by enter'"
                            formControlName="i_top_three_skills"
                        ></p-chips>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="i_final_result">Result </label>
                        <input
                            pInputTextarea
                            id="i_final_result"
                            type="text"
                            formControlName="i_final_result"
                        />
                        <!--                    <p-dropdown-->
                        <!--                        [options]="resultOutcomes"-->
                        <!--                        optionLabel="name"-->
                        <!--                        [(ngModel)]="selectedResult"-->
                        <!--                        [placeholder]="'Select an option'"-->
                        <!--                    ></p-dropdown>-->
                    </div>
                </div>
            </div>
<!--            <div class="field col-12 md:col-12" >-->
            <div class="field grid col-12 " >
                <button
                    pButton
                    pRipple
                    type="button"
                    label="Cancel"
                    (click)="onClickCancel()"
                    class="p-button-raised p-button-danger mr-2 mb-2"
                ></button>
                <button
                    pButton
                    pRipple
                    type="submit"
                    label="Save"
                    class="p-button-raised mr-2 mb-2"
                ></button>
            </div>
        </form>
    <div *ngIf="loading" class="overlay">
        <div class="spinner-container">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </div>
</p-dialog>

<p-toast></p-toast>






